.body{
    display: flex;
    width: 100%;
}

.outerCover{
    height: 570px;
    width: 280px;
    border: 2px solid #1f2729;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #8fb5c2;
    border-bottom: 3px solid #6d8a94;
    background: #8fb5c2;
    position: relative;
}
.semiIntCover{
    height: 566px;
    width: 280px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #000;
}
.screen {
    height: 98.7%;
    width: 97%;
    background-color: #1e2325;    
    border-radius: 25px;
    margin-bottom: 2px;
    position: relative;
}

.camera{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid;
    margin: auto;
    top: 13px;
    background: #000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 3;
}

.innerCam1{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #131518;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerCam2{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background: #626468;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerCam3{
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background: #79a1b694;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-top: 3px;
}
.outerShine{
    height: 98.7%;
    width: 97%;
    background-color: #1e2325;    
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    background-image: url("https://source.unsplash.com/random/?screensaver/");
    background-position: center;
    background-size: cover;
    top: 3px;
}
.timeAndDate{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.time{
    font-size: 60px;
    color: #fff;
}

/* This is the btn section */

