.mainCont{
    width: 100%;
    position: relative;
    color: #64869b;
    height: fit-content;
}

.title{
    font-size: min(50px, 8vw);
    color:   #547081; 
    /* #B1D7EE */
    margin: auto;
    margin-bottom: 30px;
   text-align: center;
   width: 100%;
}

.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

.Cover{
    width: 95vw;
    height: min(400px, 100vw);
    position: relative;
}
.picAndParas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 400px;
}

.paragraph{
    text-align: center;
    line-height: 30px;
    font-size: min(17px, 3.5vw);
}

.topParas{
    width: 90%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottomParas{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 330px;
}



.secImage{
    width: 100px;
    height: 100px;
    position: relative;
    margin:auto;
}

.sizoDevelops{
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0 5px;
}
.creater{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    height: 100px;
    width: fit-content;
}

.createrP{
    color: #547081;
    font-size: min(16px, 3vw);
}

@media(min-width: 1024px){

    
    .title{
        font-size: clamp(4vw, 50px, 12vw);
        color:   #547081; 
        /* #B1D7EE */
        margin: auto;
        margin-bottom: 30px;
       text-align: center;
       width: 100%;
    }
    
    .mainContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        
    }
    
    .Cover{
        width: 50%;
        height: 400px;
        position: relative;
    }
    .picAndParas{
        display: flex;
        flex-direction: row;
        padding: 0 20px 0 20px;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .paragraph{
        text-align: center;
        line-height: 30px;
    }
    
    .topParas{
        width: 40%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .bottomParas{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .bottomParas .paragraph{
        width: min(40%, 90vw);
    }
    
    .secImage{
        width: 200px;
        height: 200px;
        position: relative;
        margin:50px auto;
    }
    
    .sizoDevelops{
        width: 20px;
        height: 20px;
        position: relative;
    }
    .creater{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 150px;
        justify-content: space-evenly;
        margin: auto;
        margin-bottom: 70px;
    }
    
    .createrP{
        color: #547081;
    }
}