* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #010101;

}

::-webkit-scrollbar {
  display: none;
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 6px;
    display: block;
  }
  
  ::-webkit-scrollbar-track {
    background: #4e636d;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #051a25;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #142133;
  }
}