@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main {
width: min(1440px, 100vw);
padding: 0;
font-family: 'Roboto', sans-serif;
position: relative;
margin: auto;
}


.header{
  font-size: clamp(0.5rem, 1.5vw, 2rem); 
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.header > .link {
  text-decoration: none;
  margin: 15px;
  color: #B5D5E8;
}

.header > .link:hover{
  color: #ffffffa2;
}